.container-column{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.container-flex {
    display: flex;
    flex-direction: row;
}
.cont {
    width: 100%;
    height: 100vh;
    background-image: url("../../Images/pica.png");
    background-size: 150%;
    background-position: 60% 60%;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
}

@media screen and (min-width: 900px) {
    
    .cont {
        background-image: url("../../Images/pica.png");
        background-size: 50%;
    }
}

@media screen and (min-width: 900px) {
    .container-column{
        flex-direction: row;
    }

    .container-flex{
        flex-direction: column;
    }
}



