.container-column{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.container-flex {
    display: flex;
    flex-direction: row;
}
.cont {
    width: 100%;
    height: 100vh;
    background-image: url("../../Images/pica.png");
    background-size: 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
}

.container{
    box-sizing: border-box;
}

@media screen and (min-width: 750px) and (max-width:1092px) {
    .cont{
        background-size: 50%;
        background-position: 108% 100%;
    }
}

@media screen and (min-width: 1093px) {    
    .cont {
        background-image: url("../../Images/pica.png");
        background-size: 50%;
        background-position: 108% -80%;
    }
    .container-column {
        flex-direction: row;
    }

    .container-flex {
        flex-direction: column;
    }
}




