.cards{
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    border-radius: 5px;
    justify-content:space-between;
    height: 200px;
   
}

.link-style{
    border: 1px solid red;
    display: block;
    margin-top: 70px;
}


@media only screen and (min-width : 700px) and (max-width: 914px) {
    .cards {
        width: 40%;
    }
}

@media only screen and (min-width : 915px) and (max-width: 1200px){
    .cards{
        width: 30%;
        margin-top: 1rem;
    }
}

@media only screen and (min-width : 1201px){
    .cards {
        width: 25%;
    }
}
