.success-modal {
    margin: 0;
    padding: 0.5rem;
    background-color: white;
    height: 15%;
    position: fixed;
    left: 25%;
    width: 50%;
    top: 2%;
    z-index: 4;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-btn {
    color: white;
    background-color: green;
    border: 1px greenyellow solid;
    border-radius: 5px;
}